h1{
    display: flex;
    justify-content: center;
}
.dropdown{
    display: flex;
    justify-content: center;
}

.box{
    height: 10rem;
    width:10rem;
    background-color: orangered;
    margin:20px;
    
}
.mainbox{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h3{
    margin-top: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 30px;

}
.price{
    font-size: 2rem;
    margin-left:2rem;
    color: whitesmoke;
}

