body{
    background: #2193b0;  
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
background: linear-gradient(to right, #6dd5ed, #2193b0);

}

h1{
    display: flex;
    justify-content: center;
}

#box1{
    background-image: url("jail.png");
}
#box2{
    background-image: url("dp_new.jpg");
}